<!DOCTYPE html>
<html>
<head>
  <title>Ph2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="nav-container" >
  <div class="nav-content" >
    
      <a href="/" class="logo" > <%= image_tag("pglogo.png",  width: '150') %> </a>

    <div class="nav-bar-content" >
      
      <ul>
          <li>Dummy</li>
          <li>Dummy</li>
        </ul>
    </div>

    
    
  </div>  
</div>

<%= yield %>

</body>
</html>
